{% extends 'base.html.twig' %}

{% block title %} Mes adresse - la French boutique {% endblock %}


{% block content %}
<h1> Mes adresses </h1>

Bienvenue {{ (app.user.firstname) }} dans gestion de vos adresse.
<br>
<hr>
<a href =" {{ path('app_account') }} ">Retourner a mon compte  <a/><br>
{% if app.user.adresses|length == 0 %}
Veuillez ajouté une adresse dans votre compte client.<br>
Pour ajouter une adresse, veuillez <a href ="">cliquer ici </a>.
{% endif %}
{% endblock %}
