{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - French boutique{% endblock %}

{% block content %}
<h2> Je passe ma commande</h2>
<p> choissisez vos préférences avant de passez votre commande sur French boutique.</p>
<hr>
<div class="row">
<div class ="col-md-6">
<b>choisir mon adresse de livraison</b><br>
<b>choisir mon transporteur</b>
</div>
<div class ="col-md-6">
<b>Récapitulatif de ma commande</b><br>
<b>Bouton pour payer</b>
</div>

</div>
{% endblock %}
